.chat-container{
    // background-color: #fff;
    display: flex;
    margin-top: 5px;
    // border: 1px solid red;
    .chat-sidebar{
        background-color: #fff;
        height: calc(100vh - 5px);
        border-right: 2px solid #989898;
        width: 300px;
        // flex:1;
        .chat-sidebar-wrapper{
            max-height: calc(100vh - 80px);
            overflow-y: scroll;
            padding-top: 20px;
            .chat-sidebar-item{
                border-radius: 10px;
                padding: 15px 10px;
                display: flex;
                .item-username{
                    padding-left: 10px;
                    flex: 1
                }
            }
            .chat-sidebar-item:hover{
                background-color: darkgray;
            }
            .unread-message{
                background-color: #585858;
            }
        }
    }
    .chat-wrapper{
        flex: 3;
        .header{
            width: 100%;
            border-radius: 10px;
            padding: 8px 20px;
            display: flex;
            .item-username{
                padding-left: 20px;
                padding-top: 7px;
                flex: 1
            }
        }
        .main{
            padding: 10px 0px 0px 20px;
            height: calc(100vh - 120px);
            overflow-y: scroll;
            .item{
                word-wrap: break-word;
                text-overflow:ellipsis;
                min-width: 100%;
                padding: 10px 0;
                width: fit-content;
                display: flex;
                .content{
                    padding: 5px 10px;
                    border-radius: 10px;
                }
                .avatar{
                    margin-top: 4px;
                }
            }
            .left{
                padding-right: 50px;
                .avatar{
                    padding-right: 10px;
                }
                .content{
                    background-color: rgb(228 230 235);
                }
            }
            .right{
                padding-left: 50px;
                // flex-direction: ;
                justify-content: right;
                text-align: right;
                .avatar{
                    padding-left: 10px;
                }
                .content{
                    background-color: rgb(153 12 255);
                }
                
            }
        }
        .input{
            input{
                height: 30px;
            }
        }
    }
    // padding-right: 15px;
    margin-right: 10px;
    // border-right: 2px solid #989898;
}