@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
:root {
    font-family: 'Quicksand', sans-serif;
}
html {
    scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e7e4e4; 
    border-radius: 5px;
  }
  
body{
    // background: linear-gradient(90deg, #99d7e2 7%, rgba(209,209,230,1) 41%, #dde6ee 100%);
    padding: 0;
    line-height:1;
    margin: 0;
}
.padding__main {
    padding: 0px 225px;

    @media only screen and (max-width: 1750px) {
        padding: 5px 100px;
    }
    @media only screen and (max-width: 1520px) {
        padding: 5px 200px;
    }
    @media only screen and (max-width: 1160px) {
        padding: 5px 100px;
    }

    @media only screen and (max-width: 960px) {
        padding: 5px 10px;
    }
}

.head-m{
    font-size: 22px;
    font-weight: 550;
}
.head-l{
    font-size: 25px;
    font-weight: 650;
}
.text-input-100{
    width: 100%;
}
.text-input-95{
    width: 95%;
}
.text-input-90{
    width: 90%;
}
.text-input-80{
    width: 80%;
}
.text-input-70{
    width: 70%;
}
.text-input-60{
    width: 60%;
}
.text-input-50{
    width: 50%;
}
.text-input-40{
    width: 40%;
}
.text-input-30{
    width: 30%;
}
.dashboard-container{
    margin: 65px 0px 0px 250px;
}
@media screen and (max-width: 900px) {
    .dashboard-container{
        margin: 65px 0px 0px 0px;
    }
}


