.container {
  margin-top: 75px;
  display: flex;
  .left-container {
    .list-item-category:hover {
      background-color: aqua;
    }
    .homepage-sidebar {
      background-color: transparent;
    }
  }
  .right-container {
    .chat {
      position: fixed;
      z-index: 10;
      bottom: 20px;
      right: 30px;
      img {
        width: 60px;
        height: auto;
      }
      .chatbox {
        // cursor: alias;
        background-color: #a0d7e3;
        width: 300px;
        height: 480px;
        position: fixed;
        z-index: 1;
        bottom: 20px;
        right: 30px;
        .chatbox-header {
          height: 30px;
          background-color: #3498db;
          display: flex;
          align-items: center;
          position: relative;
          .content {
            padding-left: 12px;
            font-size: 18px;
            color: #fff;
          }
          .close {
            cursor: pointer;
            color: #fff;
            position: absolute;
            right: 5px;
            top: 2px;
          }
        }
        .chat-container {
          display: block;
          overflow-y: scroll;
          // width: 100%;
          height: 400px;
          .item {
            min-width: 100%;
            margin: 10px 0px;
            width: fit-content;
            display: flex;
            .content {
              word-wrap: break-word;
              text-overflow: ellipsis;
              padding: 5px 10px;
              max-width: 220px;
              border-radius: 10px;
              .time {
                margin-top: 5px;
                font-size: 12px;
                opacity: 0.6;
              }
            }
          }
          .left {
            .content {
              margin-left: 15px;
              margin-right: 45px;
              background-color: rgb(228 230 235);
            }
          }
          .right {
            justify-content: right;
            text-align: right;
            .content {
              margin-left: 45px;
              background-color: rgb(153 12 255);
            }
          }
        }
      }
    }
    .new-auction-btn {
      position: fixed;
      z-index: 10;
      bottom: 20px;
      left: 30px;
      cursor: pointer;
      img {
        width: 60px;
        height: auto;
      }
    }
    flex: 1;

    flex: 6;
    .homepage-filter {
      display: flex;
      justify-content: flex-end;
    }
    .product-part-wrapper {
      .product-wrapper {
        display: flex;
        flex-wrap: wrap;
        transition: opacity 2s linear;
        .product {
          background-color: #83d0c9;
          box-shadow: 10px 5px 10px #999;
          border-radius: 10px;
          cursor: pointer;
          align-items: center;
          width: 9vw;
          min-width: 150px;
          height: 315px;
          position: relative;
          margin: 20px 20px;
          .productImg {
            img {
              width: 100%;
              height: 200px;
            }
          }
          .product-item{
            display: flex;
            align-items: center;
            justify-content: center;
            .product-icon{
              transform: scale(0.8);
            }
            .product-content{
              flex: 1;
            }
          }
          .product-name{
            height: 37px;
            font-weight: 550;
            font-size: 1.1rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            padding: 0 5px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .product-price{
            text-align: center;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
          }
        }
        .product:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media screen and (max-width: 1520px) {
  .container {
    .left-container {
      flex: 1;
    }
    .right-container {
      flex: 3;
      .product-wrapper{
        .product{
          margin: 20px 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 860px) {
  .container {
    .left-container {
      flex: 1;
    }
    .right-container {
      flex: 3;
      .product-wrapper{
        justify-content: space-around;
        .product{
          margin: 20px 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .container {
    .left-container {
      display: none;
    }
    .product-wrapper{
      justify-content: space-around;
      .product{
        margin: 20px 10px;
      }   
    }
  }
}
img {
  object-fit: cover;
}
