.container{
    margin-top: 75px;
    display: flex;
    .left-container{
        .list-item-category:hover{
            background-color: aqua;
        }
        .homepage-sidebar{
            background-color: transparent;
        }
    }
    .right-container{
        .chat{
            position: fixed;
            z-index: 10;
            bottom: 20px;
            right: 30px;
            cursor: pointer;
            img{
                width: 60px;
                height: auto;
            }
        }
        .new-auction-btn{
            position: fixed;
            z-index: 10;
            bottom: 20px;
            left: 30px;
            cursor: pointer;
            img{
                width: 60px;
                height: auto;
            }
        }
        text-align: center;
        flex: 1;
        
        flex: 6;
        .homepage-filter{
            display: flex;
            justify-content: flex-end;
        }
        .product-part-wrapper{
            .product-wrapper{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                transition:opacity 2s linear;
                .product{
                    // background-color: antiquewhite;
                    box-shadow: 10px 5px 10px #999;
                    border-radius: 15px;
                    cursor: pointer;
                    text-align: center;
                    align-items: center;
                    min-width: 20%;
                    position: relative;
                    margin: 20px 10px;
                    .productImg{
                        width: 100%;
                        img{
                            width: 260px;
                            height: 300px;
                        };
                    }
                    .product-name{
                        font-size: 20px;
                        font-weight: bold;
                        margin: 10px 0px 5px;
                        height: 25px;
                        overflow: hidden;
                        max-width: 260px;
                    }
                    .product-price{
                        font-size: 18px;
                        font-weight: 550;
                    }
                    .product-detail{
                        max-width: 250px;
                        height: 35px;
                        overflow: hidden;
                        margin-bottom: 15px;
                    }
                    .product-action{
                        width: 100%;
                        padding: 0px 5px;
                        display: flex;
                        justify-content: space-around;
                        font-size: 15px;

                    }
                }
                .product:hover{
                    transform: scale(1.1);
                }
            }
        }

    }
}
@media screen and (max-width: 1520px) {
    .container{
        .left-container{
            flex:1
        }
        .right-container{
            flex: 3;
        }
    }
}
@media screen and (max-width: 860px) {
    .container{
        .left-container{
            flex:1
        }
        .right-container{
            flex: 3;
        }
    }
}
@media screen and (max-width: 700px) {
    .container{
        .left-container{
            display: none;
        }
    }
}
img{
    object-fit: cover;
}