.product-component-container {
    margin-top: 20px;
    padding: 10px 0px 5px 0px;
    border-radius: 10px;
    background-color: #fff;
  .product-part-wrapper {
    .title-header{
        padding: 0px 15px;
        display: flex;
        color: #d0011b;
        align-items: center;
        .title{
            font-size: 24px;
            font-weight: bold;
            flex: 1;
        }
        .title-btn{
            cursor: pointer;
            font-size: 16;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .product-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: auto;
      transition: opacity 2s linear;
      padding-bottom: 10px;
      .product {
        // background-color: #E6FFFD;
        border-radius: 10px;
        box-shadow: 8px 5px 8px #ccc;
        border: 1px solid #f0e9e9;
        cursor: pointer;
        align-items: center;
        width: 10.5vw;
        min-width: 150px;
        height: 320px;
        position: relative;
        margin: 20px 15px 0 15px;
        .productImg {
          img {
            border-radius: 10px;
            width: 100%;
            height: 200px;
          }
        }
        .product-item {
          display: flex;
          align-items: center;
          justify-content: center;
          .product-icon {
            transform: scale(0.8);
          }
          .product-content {
            flex: 1;
          }
        }
        .product-name {
          height: 37px;
          font-weight: 550;
          font-size: 1.1rem;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          text-align: center;
          padding: 0 5px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .product-price {
          text-align: center;
          font-weight: bold;
          font-family: "Courier New", Courier, monospace;
        }
      }
      .last-item {
        margin-right: auto;
      }
      .product:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 1520px) {
  .product-component-container{
    .product-part-wrapper{
      .product-wrapper{
        justify-content: flex-start
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .product-component-container{
    .product-part-wrapper{
      .product-wrapper{
        justify-content: center
      }
    }
  }
    .new-auction-btn {
      left: 5px !important;
      img {
        width: 55px !important;
      }
    }
}
@media screen and (max-width: 500) {
  .product{
    margin: 20px 0px 0 0px;
  }
}
img {
  object-fit: cover;
}
hr{
    color: #d0011b;
    border: 1px solid #d0011b;
    width: 50%;
}
