.slider-custom{
    margin-top: 75px;
    height: 550px;
    img{
        width: 100%;
        height: 500px;
        object-fit: fill;
    }
}
@media screen and (max-width: 1520px){
    .slider-custom{
        display: none;
    }
}