.product-container {
  min-height: calc(100vh - 300px);
  margin-top: 75px;
  .product-header {
    font-size: 20px;
  }
  .product-detail {
    margin-top: 20px;
    display: flex;
    width: 100%;
    .product-main {
      flex: 4;
      display: flex;
      .product__left {
        flex: 2;
        .product-image {
          display: flex;
          justify-content: center;
          .product-image__wrapper {
            display: flex;
            flex-direction: row;
            // margin-bottom: 0px;
            // box-shadow: 5px 5px 10px #999;
            // transition: all 1s ease;
            cursor: pointer;
            img {
              transition: opacity 2s linear;
              border-radius: 5px;
              height: 350px;
              max-width: 100%;
              object-fit: cover;
            }
          }
        }
        .product-sub-image {
          margin-top: 10px;
          width: 100%;
          overflow-y: auto;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          .product-sub-image__wrapper {
            padding: 0px 5px;
            // width: 15%;
            overflow: hidden;
            img {
              border-radius: 2px;
              height: 60px;
              width: 60px;
              max-width: 100px;
              object-fit: cover;
              transition: opacity 2s linear;
            }
          }
          .product-sub-image__wrapper:hover {
            transform: scale(1.2);
          }
        }
      }
      .product__right {
        padding: 0px 20px;
        flex: 3;
        width: 100%;
        text-align: left;
        .product-name {
          font-size: 20px;
          font-weight: bold;
          color: #d0011b;
          text-align: left;
          height: 67px;
          line-height: 30px;
          overflow: scroll;
        }
        .product-title {
          // padding: 10px 0px 30px;
          padding: 0;
          margin-bottom: 10px;
          font-size: 17px;
          height: 40px;
          // text-align: center;
          -webkit-line-clamp: 2;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          overflow: scroll;
        }
        .product-auction {
          color: #d0011b;
          display: flex;
          // height: 60px;
          justify-content: space-between;
          align-items: center;
          font-size: 17px;
          .product-time {
            display: flex;
            align-items: flex-start;
            align-items: center;
            .product-time-icon {
              // transform: scale(1.2);
              margin-right: 5px;
            }
            .product-success-auction {
              color: #0000ff;
            }
          }
        }
        .product-price-and-action {
          display: flex;
          justify-content: space-between;
          .product-price-wrap {
            flex: 3;
            .product-price-title {
              font-size: 18px;
              text-align: left;
            }
            .product-price {
              display: flex;
              margin: 5px 0px 10px;
              align-items: center;
              .product-price-icon {
                // transform: scale(1.2);
                margin-right: 5px;
              }
              .product-price-title {
                font-size: 18px;
                font-weight: bold;
                color: #d0011b;
              }
            }
          }
          .product-action {
            flex: 2;
            .action-button-log {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
    .product-seller {
      flex: 1;
      padding-left: 20px;
      border-left: 1px solid #ccc;
      .product-seller-header {
        font-size: 20px;
        text-align: center;
      }
      .product-seller-header-mobile {
        display: none;
      }
      .product-seller-info {
        padding-top: 20px;
        display: flex;
        align-items: center;
        height: 50px;
        .seller-info {
          padding-left: 10px;
          text-align: center;
          .seller-info__name {
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
      .seller-address {
        height: 70px;
        display: flex;
        align-items: center;
        .seller-address__icon {
          padding: 0 5px;
          transform: scale(1.2);
        }
      }
      .seller-history {
        height: 60px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        .history {
          .history-count {
            font-weight: bold;
            font-size:18px;
          }
        }
        .history__success {
          color: blue;
        }
        .history__failed {
          color: red;
        }
      }
      .seller-rate {
        .seller-rate__content {
          font-size: 20px;
          text-align: center;
        }
      }
      .seller-rate__low {
        .seller-rate__detail {
          color: red;
          height: 67px;
        }
        .seller-rate__content {
          width: 100%;
          border-radius: 20px;
          font-size: 18px;
          color: #fff;
          background-color: red;
          border: 1px solid red;
          height: 50px;
          overflow: hidden;
        }
      }
      .seller-rate__medium {
        .seller-rate__detail {
          color: chartreuse;
          height: 65px;
        }
        .seller-rate__content {
          width: 100%;
          border-radius: 20px;
          font-size: 18px;
          color: #fff;
          background-color: chartreuse;
          border: 1px solid chartreuse;
          height: 50px;
          overflow: hidden;
        }
      }
      .seller-rate__hight {
        .seller-rate__detail {
          color: blue;
          height: 67px;
        }
        .seller-rate__content {
          width: 100%;
          border-radius: 20px;
          font-size: 18px;
          color: #fff;
          background-color: blue;
          border: 1px solid blue;
          height: 50px;
          overflow: hidden;
        }
      }
    }
  }
  .product-info {
    .product-info__header {
      display: flex;
      align-items: center;
      position: relative;
      b {
        flex: 1;
        background-color: rgba(10, 10, 10, 0.286);
        height: 2px;
      }
    }
    .product-info-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      .product-info {
        // padding: 5px 5px;
        width: 15%;
        max-width: 150px;
        min-width: 100px;
        .product-info-title {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 5px;
        }
        .product-info-detail {
          max-width: 100%;
          word-wrap: break-word;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          white-space: normal;
        }
      }
    }
  }
  .product-description {
    margin: 10px 0px;
    .product-description__header {
      padding: 0;
      display: flex;
      align-items: center;
      position: relative;
      b {
        flex: 1;
        background-color: rgba(10, 10, 10, 0.286);
        height: 2px;
      }
    }
    .product-description__detail {
      padding: 20px;
      // padding-left: 10%;
      text-align: left;
      max-width: 100%;
      word-wrap: break-word;
      text-overflow:ellipsis;
      // overflow: scroll;
    }
  }
  .product-part-wrapper {
    .title {
      padding: 0;
      display: flex;
      align-items: center;
      position: relative;
      b {
        flex: 1;
        background-color: rgba(10, 10, 10, 0.286);
        height: 2px;
      }
    }
    .product-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .product {
        // background-color: antiquewhite;
        box-shadow: 10px 5px 10px #999;
        border-radius: 15px;
        cursor: pointer;
        text-align: center;
        align-items: center;
        min-width: 20%;
        position: relative;
        margin: 20px 10px;
        .productImg {
          width: 100%;
          img {
            width: 260px;
            height: 300px;
          }
        }
        .product-name {
          font-size: 20px;
          font-weight: bold;
          margin-top: 10px;
        }
        .product-price {
          font-size: 16px;
          font-weight: 550;
        }
        .product-detail {
          max-width: 250px;
          height: 35px;
          overflow: hidden;
          margin-bottom: 15px;
        }
        .product-action {
          width: 100%;
          padding: 0px 5px;
          display: flex;
          justify-content: space-around;
          font-size: 15px;
        }
      }
    }
  }
}
.padding__product {
  padding: 0 200px;
}
.auction-history-dialog {
  padding: 10px;
  width: 540px;
  .history-dialog-header {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .history-dialog-wrapper {
    .history-dialog-item {
      border-bottom: 1px solid #ccc;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0px;
      .history-dialog-stt {
        text-align: center;
        padding-right: 15px;
        flex: 0.4;
      }
      .history-dialog-user {
        flex: 3;
        margin-right: 10px;
        max-width: 150px;
        overflow: hidden;
        word-wrap: break-word;
      }
      .history-dialog-amount {
        flex: 2;
        text-align: center;
      }
      .history-dialog-time {
        text-align: center;
        flex: 3;
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .padding__product {
    padding: 0 100px;
  }
}
@media screen and (max-width: 1300px) {
  .padding__product {
    padding: 0 20px;
  }
  .product-container {
    .product-detail {
      .product-main {
        flex: 3;
      }
    }
  }
}
@media screen and (max-width: 1050px) {
  .padding__product {
    padding: 0 20px;
  }
  .product-container {
    .product-detail {
      flex-direction: column;
      .product-seller {
        .product-seller-header {
          display: none;
        }
        .product-seller-header-mobile {
          display: block;
          padding: 30px 0 10px 0px;
          display: flex;
          align-items: center;
          position: relative;
          b {
            flex: 1;
            background-color: rgba(10, 10, 10, 0.286);
            height: 2px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .padding__product {
    padding: 0 20px;
  }
  .product-container {
    .product-detail {
      flex-direction: column;
      .product-main {
        flex-direction: column;
        .product__right {
          margin-top: 20px;
          padding: 0px;
        }
      }
      .product-seller {
        border: none;
      }
    }
  }
}
