.register-container{

    width: 40%;
    padding: 10px 20px;
    background-color: #fff;
    margin: 65px auto 0px;
    color: #d0011b;
    .register-container-back{
        cursor: pointer;
        padding: 10px 0px;
        
    }
    .register-product-part{
        display: flex;
        justify-content: space-around;
        .register-product-item{
            height: 70px;
            flex: 1;
        }
    }
    .register-product-image{
        margin-top: 15px;
        .register-product-image-header{
            font-size: 20px;
            font-weight: 550;
            margin-bottom: 10px;
        }
        .register-product-image-review{
            display: flex;
            flex-wrap: wrap;
            .addImage{
                width: 150px;
                min-height: 104px;
                display: flex;
                position: relative;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                border: 1px solid black;
                border-radius: 5px;
                cursor: pointer;
                input{
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    opacity: 0;
                    top: 0;
                    left: 0;
                }
            }
            .imageItem{
                position: relative;
                padding-right: 20px;
                img{
                    height: 150px;
                    width: auto;
                    min-width: 60px;
                    max-width: 285px;
                }
                .remove_small_image{
                    position: absolute;
                    transform: scale(2.5);
                    opacity: 0;
                    z-index: 1;
                    top: calc(50% - 10px);
                    right: calc(50%);
                    cursor: pointer;
                }
            }
            .imageItem:hover{
                img{
                    opacity: 0.8;
                }
                .remove_small_image{
                    opacity: 1;
                }
            }
            .register-product-imaged{
                background-color: #999;
                height: 80px;
                min-width: 75px;
            }
        }
    }
    .submit{
        padding: 15px 0px 2px;
        button{
            margin-left: calc(50% - 60px);
            width: 120px;
            height: 45px;
            font-size: 18px;
        }
    }
    .toLogin{
        margin: 10px 0px;
        text-align: center;
        font-size: 18px;
    }
}

@media screen and (max-width: 1500px) {
    .register-container{
        width: 30%;
    }
}

@media screen and (max-width: 1200px) {
    .register-container{
        width:40%;
    }
}

@media screen and (max-width: 1050px) {
    .register-container{
        width:50%;
    }
}
@media screen and (max-width: 750px) {
    .register-container{
        width:65%;
    }
}
@media screen and (max-width: 600px) {
    .register-container{
        width:80%;
        .register-product-part{
            .register-product-item{
                margin-top: 15px;
            }
            .text-input-95{
                width: 90%;
            }
        }
    }
}



