
.sell-table-row{
    height: 100px;
}
.product-sell-image{
    height: 100px;
    width: 100%;
    object-fit: cover;
}
.product-history-name{
    min-width: 80px;
    max-width: 250px;
    max-height: 200px;
    overflow-y: hidden;
}
.waiting{
    background-color: black;
}