.user-popup{
  .user-view{
    display: flex;
    .avatar{
     text-align: center;
      flex: 1;
        img{
            width: 200px;
            height: auto
        }
    }
    .p1 {
      flex: 2;
      .p1-item{
        display: flex;
        line-height: 2;
        .title{
          font-weight: bold;
          width: 150px;
        }

      }
    }
  }
}
.sell-table-row {
  height: 100px;
}

.product-sell-image {
  height: 100px;
  width: 100%;
  object-fit: cover;
}
.product-history-name {
  min-width: 80px;
  max-height: 200px;
  overflow-y: hidden;
}

