.footer{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #ebebeb;
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-width: 100%;
        .col{
            min-width: 270px;
            padding: 10px;
            flex: 1;
            p, b{
                margin-top: 25px;
            }
            b{
                display: block;
            }
            h2, h3{
                margin-top: 10px;
            }
            img{
                width: 132px;
                height: auto;
            }
            div{
                display: flex;
                align-items: center;
                p{
                    margin-top: 0;
                    margin-left: 5px;
                    font-size: 1.2rem;
                }
                img{
                    margin-top: 10px;
                    margin-right: 20px;
                    width: 40px;
                    height: auto;
                }
            }
        }
    }
    img{
        width: 50px;
        height: 100px;
    }
}