.big-cell{
  word-wrap: break-word;
  text-overflow:ellipsis;
  max-width: 400px;
  max-height: 200px !important;
  overflow: auto;
  display: block !important;
}
.small-cell{
  word-wrap: break-word;
  text-overflow:ellipsis;
  max-width: 130px;
}
.big-cell1{
  word-wrap: break-word;
  text-overflow:ellipsis;
  max-width: 400px;
  max-height: 200px !important;
  overflow: auto;
  // display: block !important;
}
