.sell-table-row {
  height: 100px;
}

.product-sell-image {
  height: 100px;
  width: 100%;
  object-fit: cover;
}
.product-history-name {
  min-width: 80px;
  max-height: 200px;
  overflow-y: hidden;
}
.auction-popup {
  .auction-view1 {
    display: flex;
    .img-view {
      flex: 1;
      .img-item{
        margin: 5px 5px;
        img {
          margin: 5px 5px;
          border-radius: 5px;
          height: auto;
          width: 200px;
          max-width: 200px;
          object-fit: cover;
        }
      }
    }
    .p1 {
      flex: 3;
      .p1-item{
        display: flex;
        line-height: 2;
        .title{
          font-weight: bold;
          width: 150px;
        }
        .content{
          max-width: 700px;
        }

      }
    }
  }
}
