.sell-table-row {
  height: 100px;
}

.product-sell-image {
  height: 100px;
  width: 100%;
  object-fit: cover;
}
.product-history-name {
  min-width: 80px;
  max-height: 200px;
  overflow-y: hidden;
}
.auction-popup {
  .auction-view {
    display: flex;
    .img-view {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      .img-item{
        img {
          padding: 5px 5px;
          border-radius: 5px;
          height: 120px;
          width: 100%;
          max-width: 300px;
          object-fit: cover;
        }
      }
    }
    .p1 {
      flex: 2;
      .p1-item{
        display: flex;
        line-height: 2;
        .title{
          font-weight: bold;
          width: 150px;
        }

      }
    }
  }
}
