.input-container{    
    min-height: calc(100vh - 355px);   
    margin-top: 80px;
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    .login-form{
        .login-input{
            height: 60px;
            margin-top: 10px;
        }
    }
    .toRegister{
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
    }
}
