.products-container {
  margin-top: 75px;
  min-height: calc(100vh - 350px);
  .products-search {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .products-search-item {
      font-size: 18px;
      margin: 0px 10px;
    }
  }
}
.filter-dialog {
  .filter-dialog-item {
    padding: 5px;
    width: 250px;
    height: 70px;
  }
}
.products-pagination {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1520px) {
  .container {
    .left-container {
      flex: 1;
    }
    .right-container {
      flex: 3;
    }
  }
}
@media screen and (max-width: 860px) {
  .container {
    .left-container {
      flex: 1;
    }
    .right-container {
      flex: 3;
    }
  }
}
@media screen and (max-width: 700px) {
  .container {
    .left-container {
      display: none;
    }
  }
}
img {
  object-fit: cover;
}
