.choose{
    background-color: rgba(#ccc, 0.8);
}
.user-info-container{
    margin-top: 65px;
    .user-info-sidebar{
        position: fixed;
        top: 65;
        left: 0;
    }
}
.profile-dashboard{
    margin: 10px auto;
    .avatar-dashboard{
        margin: 0px auto 10px;
    }
    .username-dashboard{
         font-size: 25px;
         max-width: 100%;
         font-weight: 600;
         text-align: center;
         cursor: pointer;
    }
    .username-dashboard-role{
         font-size: 17px;
         max-width: 100%;
         text-align: center;
         opacity: 0.8;
    }
}
